body {
    font-family: sans-serif;
    border: 2px black;
}

.cardText {

    text-align: center;
    padding: 5px;
}

#card .cardText {
    display: none;
}

#card:hover .cardText {
    display: flex;
}

.cardText:hover {
    color: rgb(0, 164, 231);
}

#card {
    display: inline-table;
    width: 19vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

#card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 164, 231, 0.5);
}

.marginalized {
    box-sizing: border-box;
    margin-left: 150px;
    margin-right: 150px;
}

#floatRight {
    float: right;
}

.button {
    padding: 8px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    display: inline-block;
    width: 22%;
    border-radius: 10px;
    background-color: white;

}

#navigation {
    font-family: sans-serif;
    color: #f5f5ef;
    padding-right: 25px;
    text-decoration: none;
}

#navbar {
    margin-top: 10px;
    padding: 8px;
    background-color: #484444;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
}

.mySlides {
    display: none;
    position: relative;
    text-align: center;
    color: white;
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 80vw;
    position: relative;
    margin: auto;
}

/* Caption text */
.text {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}